@import "../less/BottomPage.less";
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900");


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: grey;
  //color: @lambda-times-color-primary;
  font-family: "PT Sans", sans-serif;
}

.container {
  display: flex;
}

header {
  display: flex;
}

nav {
  display: inline-flex;
}
.logo {
  display: flex;
}

.intro .intro-text{
  display: flex;
}

button {
  width: 20px;
}

img {
  display: block;
}

.main-content {
  display: flex;
}

top-content {
  display: flex;
}