body,
.main {
  display: flex;
  width: 800px;
  max-height: 10rem;
  //background-color: red;
  background-image: url("/assets/Tech\Classroom.jpg");

  // .bkgndimg {
  //   border-bottom-width: 3px;
  //   border-bottom-color: blue;
  // }
  .headlines {
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    // border: 3px solid purple;
    // background-color: blue;
    h1,
    h2 {
      padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
  }
  .points {
    display: flex;
    list-style: square inside;
    // background-color: yellowgreen;
    h4 {
      margin: 1rem;
    }
  }
}
